<div class="cart">
  <button class="btn" style="font-size: 1.5rem">
    <i class="pi pi-user" style="font-size: 1.5rem"></i> {{ (this.user | async)?.name }}
  </button>
  <ul class="list-group">
    <li *ngFor="let item of this.cart | async" class="list-group-item">
      <span class="mr-4">{{item.product.name}}</span>
      <span class="mr-1" [class.small]="item.product.discount" [class.float-right]="!item.product.discount"
        [ngStyle]="{'text-decoration': item.product.discount ? 'line-through': 'none'}">{{item.product.price |
        currency: 'EUR'}}</span>
      <span *ngIf="item.product.discount">{{item.product?.price - (item.product?.price *
        item.product?.discount / 100) | currency: 'EUR'}}</span>
      <p class="m-0">

        <span class="color btn mr-2" [style.background-color]="item.customValues.Color"></span>
        <span>{{item.customValues.Size}}</span>
      </p>
    </li>
    <li class="list-group-item">
      Total: 
      <span class="float-right">{{ this.totalPrice  | currency: 'EUR'}}</span>
    </li>
  </ul>
</div>